.checkbox-squared {
  width: 100%;
  height: 34px;
  display: flex;
  align-items: center;
}
.checkbox-squared .absolute {
  position: relative;
  height: 20px;
}
.checkbox-squared .absolute input[type=checkbox] {
  visibility: hidden;
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 20px;
  height: 20px;
}
.checkbox-squared .absolute input[type=checkbox]:checked + label {
  border-color: #2d6da3;
}
.checkbox-squared .absolute input[type=checkbox]:checked + label:after {
  opacity: 1;
  border-color: #2d6da3;
}
.checkbox-squared .absolute label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #777;
  border-radius: 4px;
  margin: 0;
  padding: 0;
}
.checkbox-squared .absolute label:after {
  position: absolute;
  content: '';
  width: 9px;
  height: 5px;
  top: 6px;
  left: 5px;
  border: 3px solid #777;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  transform: rotate(-45deg);
}
.checkbox-squared .checkbox-label {
  padding: 0 10px;
}
.checkbox-squared .checkbox-label label {
  font-weight: 500;
  cursor: pointer;
}
.checkbox-squared:hover .check label:after {
  border-color: #2d6da3;
  opacity: 0.3;
}
.checkbox-squared:hover .checkbox-label label {
  color: #2d6da3;
}
/*
 * Component: Sidebar
 * ------------------
 */
.main-sidebar {
  padding-top: 50px;
  min-height: 100%;
  width: 100%;
  z-index: 810;
  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}
@media (max-width: 767px) {
  .main-sidebar {
    padding-top: 100px;
  }
}
@media (max-width: 767px) {
  .main-sidebar {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .main-sidebar {
    -webkit-transform: translate(-230px, 0);
    -ms-transform: translate(-230px, 0);
    -o-transform: translate(-230px, 0);
    transform: translate(-230px, 0);
  }
}
@media (max-width: 767px) {
  .sidebar-open .main-sidebar {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.sidebar {
  padding-bottom: 10px;
}
.sidebar-form input:focus {
  border-color: transparent;
}
.user-panel {
  position: relative;
  width: 100%;
  padding: 10px;
  overflow: hidden;
}
.user-panel:before,
.user-panel:after {
  content: " ";
  display: table;
}
.user-panel:after {
  clear: both;
}
.user-panel > .image > img {
  width: 100%;
  max-width: 45px;
  height: auto;
}
.user-panel > .info {
  padding: 5px 5px 5px 15px;
  line-height: 1;
  position: absolute;
  left: 55px;
}
.user-panel > .info > p {
  font-weight: 600;
  margin-bottom: 9px;
}
.user-panel > .info > a {
  text-decoration: none;
  padding-right: 5px;
  margin-top: 3px;
  font-size: 11px;
}
.user-panel > .info > a > .fa,
.user-panel > .info > a > .ion,
.user-panel > .info > a > .glyphicon {
  margin-right: 3px;
}
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar-menu > li {
  position: relative;
  margin: 0;
  height: auto;
  display: flex;
  flex-direction: column;
}
.sidebar-menu > li .item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 15px;
  height: 50px;
}
.sidebar-menu > li .item > a,
.sidebar-menu > li .item > button {
  height: 100%;
  display: inline-block;
}
.sidebar-menu > li .item > a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  border-radius: 3px 0 0 3px;
  background: #c0dbeb;
}
.sidebar-menu > li .item > a > .fa,
.sidebar-menu > li .item > a > .glyphicon,
.sidebar-menu > li .item > a > .ion {
  width: 20px;
}
.sidebar-menu > li .item > a.has-button {
  width: 75%;
}
.sidebar-menu > li .item > button {
  border: none;
  width: 25%;
  background: #3c8dbc;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.sidebar-menu > li .config {
  display: flex;
  flex-direction: row;
}
.sidebar-menu li.header {
  padding: 10px 25px 10px 15px;
  font-size: 12px;
}
.sidebar-menu li > a > .fa-angle-left,
.sidebar-menu li > a > .pull-right-container > .fa-angle-left {
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 10px;
  -webkit-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
}
.sidebar-menu li > a > .fa-angle-left {
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -8px;
}
.sidebar-menu .menu-open > a > .fa-angle-left,
.sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.sidebar-menu .active > .treeview-menu {
  display: block;
}
.content-head {
  height: auto;
}
.content-head .navbar .nav-item {
  position: relative;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.content-menu,
.content-stack,
.content-render {
  width: 100%;
  border-bottom: 1px solid #000;
}
.content-menu,
.content-stack {
  max-height: 300px;
  overflow-y: auto;
}
.content-menu {
  overflow-y: auto;
}
.content-menu li.header {
  font-size: 20px;
  font-weight: 600;
}
.content-menu .main-sidebar {
  padding-top: 0 !important;
  transform: inherit !important;
}
.content-stack h4 {
  padding: 15px 10px 0;
}
@media only screen and (min-width: 575px) and (max-width: 1023px) {
  .content-menu,
  .content-stack {
    width: 50%;
    border-right: 1px solid #000;
  }
}
@media only screen and (min-width: 1023px) {
  .content-menu,
  .content-stack,
  .content-render {
    width: 100%;
    border: 0;
    border-right: 1px solid #000;
  }
  .content-menu,
  .content-stack {
    width: 25%;
  }
  .content-render {
    width: 50%;
  }
}
@media only screen and (min-width: 1023px) and (min-height: 767px) {
  .content-menu,
  .content-stack,
  .content-render {
    max-height: 100%;
    height: 100vh;
    overflow-y: auto;
  }
}
.content-render {
  display: flex;
  flex-direction: column;
}
.content-render .content-wrapper .results,
.content-render .content-wrapper .content-image {
  width: 100%;
  height: auto;
  padding: 25px;
  float: left;
}
.content-render .content-wrapper .results .image-result,
.content-render .content-wrapper .content-image .image-result {
  padding-top: 10px;
}
.content-render .content-wrapper .results canvas,
.content-render .content-wrapper .content-image canvas {
  border: solid 1px #000;
  border-radius: 3px;
}
.content-render .content-wrapper .results {
  padding: 0;
}
.content-render .content-wrapper .modelo {
  display: none;
  width: 100%;
}
.content-render .content-wrapper .statistics {
  width: 100%;
  float: left;
  padding: 15px;
}
.content-render .content-wrapper .statistics ul {
  list-style: none;
}
.content-footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-selection {
  background: #2d6da3;
}
.slider.slider-horizontal .slider-track {
  height: 10px;
  width: 90%;
  margin-top: -5px;
  top: 50%;
  left: 5px;
}
/*
 * Skin: Blue
 * ----------
 */
.skin-blue {
  background: #ecf0f5;
}
.skin-blue .content-left {
  background: #f9fafc;
}
.skin-blue .content-left .main-sidebar .sidebar-menu li.open a.dropdown-item {
  background: #dfdfdf;
}
.skin-blue .content-left .main-sidebar .sidebar-menu li a.dropdown-item:hover {
  background: #dfdfdf;
}
.skin-blue .content-left .main-sidebar .sidebar-menu li a {
  font-size: 14px;
  color: #444;
}
.skin-blue .content-left .main-sidebar .sidebar-menu .header {
  font-size: 18px;
}
